<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		 <p>  </p>	
		  <p>&copy 2022 VIT Lab.</a></p>
              <p>We are part of the <a href="https://cmscollege.ac.in/department-of-chemistry.html/">Department of Chemistry</a> at <a href="https://cmscollege.ac.in/">CMS College Kottayam</a>.</p>
     
            

		   <p>  </p><p>
</div>
            <div class="col-sm-4">
		  Contact:<br />
		  Department of Chemistry<br />
		  CMS College Kottayam, Kerala-686001, India<br />
            <a href="https://goo.gl/maps/NNC9ZUUotPHDSBjm9">Locate on Maps</a>
		</div>
		   <div class="col-sm-4">
		  <figure class="single">
  <img src="{{ site.url }}{{ site.baseurl }}/images/logo.png" style="width: 200px">
</figure>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
